body{
    text-align: center;
    font-family: 'Alegreya';
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

.mainplay {
    display: block;
    margin: auto;
    border: 1px solid black;
    width: 50%;
}

.selecao{
    display: flex;
    justify-content: center;
}

select{
    margin: auto 5%;
}

.botoes{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
    border: thick solid black;
    height: 4rem;
}

button{
    font-family: 'Alegreya';
    flex-grow: 1;
}

#btnPlayer1{
    background-color: green;
    color: white;
}

#btnPlayer2{
    background-color: rgb(36, 36, 246);
    color: white;
}

#btnReset{
    background-color: rgb(248, 74, 74);
    color: white;
}