body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: rgb(233, 218, 246);
}

/*1º*/
.sec-idade{
    display: flex; /*valor padrão: flex-direction: row;*/
    flex-direction: row;
    justify-content: center; /*alinha no eixo principal*/

    border: 1px solid #040000;
    width: 50%;
    padding: 0; /*distância entre o conteúdo de dentro da caixa e borda preta */
    margin: 0 auto; /*distância entre a borda preta e a página*/

    text-align: justify;
}

/*2º*/
.sec-fields{
    display: block;
    border-radius: 10px;
    margin: 10px;
}

/*3º*/
.sec-resposta{
    display: flex;
    justify-content: center;

    border: 1px solid #040000;
    padding: 40px;
}

.sec-button{
    display: flex;
    justify-content: center;

    margin: 30px;
}


.hidden {
    color: #0000;
}

p{
    font-weight: bold;
    font-size: larger;
}

button{
    background-color: rgb(179, 105, 179);
    border-radius: 10px;

    width: 50%;
    padding: 8px;
}

footer{
    display: flex;
    justify-content: center;
}